/* css variables */
:root {
  --header_height: 151px;
  --main_bg: #fff;
  --main_font: "Rubik", sans-serif;
  --main_offset: -80px;
  --main_title_color: #392713;
  --main_title_font: "Boogaloo", cursive;
  --nav_bg: #da9149;
  --page_bg: #faf9f3;
  --ribbon_extra_width: 30px;
  --site_width: 650px;
  --title_shadow: #ffdf89;

  @media (max-width: 975px) {
    --main_offset: 0px;
  }
}

/* html with site background */
html {
  background: var(--page_bg);
  background-image: url(./image/texture/page_texture.jpg);
  background-position: center top;
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
}
html > div {
  display: none !important;
}

/* body with header image as bg */
body {
  background: url(./image/header/header_bg.png) no-repeat
    calc(50% + var(--main_offset) + 148px) top;
  font-family: var(--main_font);
  height: auto;
  min-height: 100%;
  overflow: hidden;

  @media (max-width: 975px) {
    background-position: 70% top;
  }
}

/* selected text */
*::selection {
  color: unset;
  background-color: var(--title_shadow);
  text-shadow: none;
}

/* link reset */
a {
  color: unset;
  text-decoration: unset;
}

/* sitewide header */
body > header {
  left: var(--main_offset);
  margin: auto;
  max-width: calc(var(--site_width) + var(--ribbon_extra_width));
  padding-top: var(--header_height);
  position: relative;
  width: 100%;
}

/* music player */
#music_player {
  cursor: pointer;
  background: linear-gradient(
      104deg,
      rgba(255, 223, 137, 0) 0.9%,
      rgba(255, 223, 137, 1.25) 2.4%,
      rgba(255, 223, 137, 0.5) 5.8%,
      rgba(255, 223, 137, 0.4) 93%,
      rgba(255, 223, 137, 0.7) 96%,
      rgba(255, 223, 137, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 223, 137, 0) 15%,
      rgba(255, 223, 137, 0.3) 7.9%,
      rgba(255, 223, 137, 0) 15%
    ),
    #fff;
  border-radius: 7.5px;
  filter: saturate(0.8);
  height: 22px;
  margin-left: 37px;
  padding: 2px 0 3px;
  position: absolute;
  top: 122px;
  z-index: 9;
}

#music_player .song_title {
  color: #54391c;
  display: inline-block;
  font-size: 16px;
  font-family: var(--main_title_font);
  margin-top: 0px;
  padding: 0 11px;
}

#music_player .song_title::after {
  content: "\A\A";
  white-space: pre;
}

/* music play/pause logo and animation */
#music_player #header_play_button {
  display: inline-block;
  height: 12px;
  position: relative;
  margin: auto;
  margin-right: 8px;
  width: 12px;
}

#music_player #header_play_button:before,
#music_player #header_play_button:after {
  content: "";
  border-style: solid;
  border-color: transparent;
  border-left-color: #de3533;
  position: absolute;
  transition: 0.1s;
  width: 0;
}
#music_player #header_play_button:before {
  border-width: 3px 6px 3px 6px;
  height: 12px;
  left: 0;
  top: 0;
}
#music_player #header_play_button:after {
  border-width: 3px 0 3px 6px;
  height: 0;
  left: 6px;
  top: 3px;
}
#music_player #header_play_button.paused:before {
  border-width: 0 0 0 4px;
  height: 12px;
}
#music_player #header_play_button.paused:after {
  border-width: 0 0 0 4px;
  height: 12px;
  left: 7.0588235294px;
  top: 0;
}

/* navlink header ribbon */
nav {
  background-color: var(--nav_bg);
  background-image: url(./image/texture/nav_texture.png);
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75),
    0px -3px 5px -2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 24px;
  max-width: calc(var(--site_width) + var(--ribbon_extra_width));
  padding: 3px 0;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  z-index: 2;
}
nav a {
  border-radius: 5px;
  color: var(--main_bg);
  font-family: "Dosis", sans-serif;
  padding: 0 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ribbon tips */
nav::before,
nav::after {
  content: url(./image/header/ribbon_left.png);
  filter: drop-shadow(0px -1px 3px rgba(0, 0, 0, 0.6));
  -webkit-filter: drop-shadow(0px -1px 3px rgba(0, 0, 0, 0.6));
  left: calc(-1 * var(--ribbon_extra_width));
  position: absolute;
  top: 15px;
  transform: translateZ(-1px);
}

nav::after {
  right: calc(-1 * var(--ribbon_extra_width));
  transform: scaleX(-1) translateZ(-1px);
}

/* main block styling */
main {
  background-color: var(--main_bg);
  background-image: url("./image/texture/notebook.png");
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3),
    -3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  height: auto;
  left: var(--main_offset);
  margin: auto;
  margin-bottom: 34px;
  max-width: var(--site_width);
  min-height: calc(100vh - 184px);
  padding-bottom: 115px;
  position: relative;
  width: 100%;
  z-index: unset;
}

/* fade in content on page load to reduce flashing */
main * {
  animation: fade-me-in 0.5s;
  @keyframes fade-me-in {
    0% {
      opacity: 0;
    }
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* page title */
h1 {
  color: var(--main_title_color);
  font-family: var(--main_title_font);
  font-size: 28px;
  line-height: 50px;
  min-height: 52px;
  margin-bottom: 28px;
  padding: 15px 10px 0 60px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px var(--title_shadow), 2px 2px var(--title_shadow),
    3px 3px var(--title_shadow), 4px 4px var(--title_shadow);
  z-index: 2;
}
h1::before {
  content: url(./image/logo/h1_logo.png);
  display: inline-block;
  filter: drop-shadow(3px 3px 0px #222);
  -webkit-filter: drop-shadow(3px 3px 0px #222);
  height: 50px;
  margin-left: -65px;
  margin-top: 5px;
  position: absolute;
  width: 50px;
  z-index: 3;
}

/* background under page title */
h1::after {
  background: url(./image/header/h1_bg.png) center 0px no-repeat;
  content: "";
  display: block;
  height: 44px;
  left: 0px;
  max-width: var(--site_width);
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  /* fade in on page load to recude flashing */
  animation: fade-me-in2 0.5s;
  @keyframes fade-me-in2 {
    0% {
      opacity: 0;
    }
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.7;
    }
  }
}

/* if there is only one section and hence no h2 */
h1 + section:last-child {
  background: none !important;
  margin-top: -6px !important;
}

/* minor section stuff */
main section {
  background: url(./image/texture/notebook.png) 0 14px repeat;
  overflow: visible;
  padding: 0 25px;
}

/* arrow with "click for full size" graphic over the first figure */
main > section:first-of-type > figure:first-of-type::before {
  content: url(/image/other/arrow.png);
  left: -83px;
  margin-top: 35px;
  position: absolute;
  z-index: 5;

  @media (max-width: 800px) {
    display: none;
  }
}

/* section headings */
a.heading {
  background: linear-gradient(
      104deg,
      rgba(255, 223, 137, 0) 0.9%,
      rgba(255, 223, 137, 1.25) 2.4%,
      rgba(255, 223, 137, 0.5) 5.8%,
      rgba(255, 223, 137, 0.4) 93%,
      rgba(255, 223, 137, 0.7) 96%,
      rgba(255, 223, 137, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 223, 137, 0) 15%,
      rgba(255, 223, 137, 0.3) 7.9%,
      rgba(255, 223, 137, 0) 15%
    );
  border-radius: 7.5px;
  display: inline-block;
  margin-bottom: 9px;
  margin-left: -7px;
  margin-top: 10px;
  position: relative;
  width: calc(100% + 15px);
  z-index: 1;
}
a.heading::before {
  left: 25px;
  position: absolute;
  top: calc(50% - 12px);
  z-index: 3;
}

/* heading logos */
section:nth-of-type(1) a.heading::before {
  content: url(image/logo/small_logo1.png);
}

section:nth-of-type(2) a.heading::before {
  content: url(image/logo/small_logo2.png);
}

section:nth-of-type(3) a.heading::before {
  content: url(image/logo/small_logo3.png);
}

section:nth-of-type(4) a.heading::before {
  content: url(image/logo/small_logo4.png);
}

h2 {
  display: block;
  font-family: var(--main_title_font);
  font-size: 21px;
  line-height: 26px;
  max-width: var(--site_width);
  padding: 2px 36px 1px 80px;
  text-shadow: -12px 5px 6.8px rgba(255, 223, 137, 0.7),
    6px -4px 11px rgba(255, 255, 255, 1), -5px -2px 12px rgba(255, 255, 255, 1);
  width: calc(100% + 15px);
  z-index: 3;
}

/* anchor logo */
h2::after {
  background: url(./image/svg/anchor.svg);
  content: "";
  display: inline-block;
  height: 16px;
  opacity: 0;
  position: absolute;
  right: 50px;
  top: calc(50% - 8px);
  transition: 0s;
  width: 16px;
}
a.heading:hover::after {
  opacity: 1;
  right: calc(1% + 15px);
  transition: 0.5s;
}

/* heading changes background on hover */
h2::before {
  background: linear-gradient(
      104deg,
      rgba(245, 181, 117, 0) 0.9%,
      rgba(245, 181, 117, 1.25) 2.4%,
      rgba(245, 181, 117, 0.5) 5.8%,
      rgba(245, 181, 117, 0.4) 93%,
      rgba(245, 181, 117, 0.7) 96%,
      rgba(245, 181, 117, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(245, 181, 117, 0) 15%,
      rgba(245, 181, 117, 0.3) 7.9%,
      rgba(245, 181, 117, 0) 15%
    );
  border-radius: 7.5px;
  content: "";
  display: block;
  height: calc(100% - 0px);
  left: 0;
  margin-left: -7px;
  margin-top: -1px;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
  width: calc(100% + 15px);
  z-index: -1;
}

a.heading:hover ::before,
:target::before {
  opacity: 1;
}

/* styling for the figures inside sections */
figure {
  background-color: #fff1cd;
  border-radius: 5px;
  float: left;
  height: 118px;
  margin: 5px 20px 5px 0;
  overflow: hidden;
  padding: 5px;
  width: 150px;
}

/* thumbnail basic layout */
figure .thumbnail img,
figure .thumbnail video {
  border-radius: 5px;
  color: #555;
  cursor: pointer;
  font-size: 12px;
  height: 108px;
  object-fit: cover;
  position: relative;
  transition: 0.3s;
  width: 140px;
  z-index: 3;
}

figure.large .thumbnail img,
figure.large .thumbnail video {
  height: unset;
  width: 160px;
}

.thumbnail:hover {
  border-radius: 0;
  filter: brightness(1.1);
}

/* every section, every other figure is right aligned by default,
	 can be overridden with classes "left" and "right" */
figure:nth-of-type(even):not(.left),
figure.right {
  float: right;
  margin: 5px 0 5px 15px;
}

figure.pull_me_up {
  margin-top: -15px !important;
}

figure.large {
  height: 232px;
  width: 162px;
}

figure.large.pull_me_up {
  margin-top: -25px !important;
}

/* loading animation before thumbs are visible */
figure.loading_ring {
  display: inline-block;
  height: 80px;
  left: 30px;
  position: relative;
  top: -98px;
  transform: scale(0.5);
  width: 80px;
}

figure.loading_ring div {
  animation: loading_ring 1.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid #e9b695;
  border-color: #e9b695 transparent transparent transparent;
  border-radius: 50%;
  display: block;
  height: 64px;
  margin: 8px;
  position: absolute;
  width: 64px;
}
figure.loading_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
figure.loading_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
figure.loading_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* style for figcaptions placed below media in the markup */
img + figcaption,
video + figcaption {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  font-size: 11px;
  margin-top: -17px;
  padding-right: 5px;
  position: relative;
  text-align: right;
  z-index: 2;
}

/* paragraphs */
main p,
h3 {
  background-color: #fff;
  display: inline;
  font-size: 14px;
  line-height: 26px;
  padding: 6px 0;
  position: relative;
  z-index: 2;
}
main p::after,
h3::after {
  content: "\A\A";
  white-space: pre;
}

ul {
  font-size: 14px;
  line-height: 26px;
  margin-left: 2em;
  position: relative;
  z-index: 2;
}
p + ul {
  margin-top: -26px;
}
ul + h3::before,
ul + p::before,
section > ul:last-child::after {
  content: "\A";
  white-space: pre;
}
li {
  list-style-type: square;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 1),
    0px 0px 3px rgba(255, 255, 255, 1), 0px 0px 3px rgba(255, 255, 255, 1),
    0px 0px 3px rgba(255, 255, 255, 1), 0px 0px 3px rgba(255, 255, 255, 1);
}

/* links */
main p a,
main li a {
  color: #263a40;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #a6c0c6;
  transition: 0.3s;
}
main p a,
main li a:hover {
  color: #191f21;
}

/* blockquote */
blockquote {
  background: #f3f3f3;
  border-left: 5px solid #e1e1e1;
  border-radius: 5px;
  font-size: 14px;
  margin: -2px 10px 24px 0px;
  overflow: hidden;
  padding: 2px 10px 2px 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #d9d9d9;
  content: open-quote;
  font-size: 4em;
  line-height: 0;
  margin-right: 5px;
  vertical-align: -27px;
}

blockquote p {
  background-color: unset;
  display: inline;
  font-style: italic;
}
blockquote p::after {
  content: unset;
}

blockquote footer {
  text-align: right;
}

/* bottom of page background / kokone */
body > footer {
  background: url(./image/footer/footer_bg.png) no-repeat bottom;
  height: 154px;
  left: calc(50% + var(--main_offset) - 330px);
  margin: auto;
  margin-top: -154px;
  max-width: 669px;
  overflow: hidden;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;

  @media (max-width: 975px) {
    left: calc(50% var(--main_offset) - 0);
  }
}
body > footer::before {
  bottom: 30px;
  content: url(./image/footer/footer_logo.png);
  height: 154px;
  left: -35%;
  padding-top: 10px;
  position: relative;
  z-index: 3;
}

body > footer p {
  background: linear-gradient(
      104deg,
      rgba(255, 223, 137, 0) 0.9%,
      rgba(255, 223, 137, 1.25) 2.4%,
      rgba(255, 223, 137, 0.5) 5.8%,
      rgba(255, 223, 137, 0.4) 93%,
      rgba(255, 223, 137, 0.7) 96%,
      rgba(255, 223, 137, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(255, 223, 137, 0) 0%,
      rgba(255, 223, 137, 0.3) 7.9%,
      rgba(255, 223, 137, 0) 15%
    );
  display: inline;
  font-size: 13px;
  left: 37%;
  margin: auto;
  position: relative;
  top: -123px;
  text-shadow: -3px 4px 5px rgba(255, 223, 137, 0.7), 3px -4px 7.3px white,
    -3px -4px 6px white;
  z-index: 4;
}
footer p::before {
  content: "";
  display: block;
}

/* Fullsize view toggled on click by JS */
.fullsize {
  height: auto;
  left: -9999px;
  max-height: calc(95vh - 20px);
  max-width: calc(95vh - 20px);
  object-fit: scale-down;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0;
  visibility: hidden;
  width: auto;
  z-index: 99;
}
.fullsize img,
.fullsize video {
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  height: unset;
  max-height: calc(95vh - 20px);
  max-width: calc(95vh - 20px);
  object-fit: scale-down;
  width: unset;
}

/* dark overlay */
.fullsize::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  height: 500vh;
  left: -200vh;
  opacity: 0;
  position: fixed;
  top: -200vh;
  visibility: hidden;
  width: 500vh;
  z-index: -1;
}

/* class toggled on click */
.fullsize.visible {
  left: 50%;
  opacity: 1;
  transition: opacity 0.3s;
  visibility: visible;
}
.fullsize.visible::before {
  transition: opacity 0.3s;
  opacity: 1;
  visibility: visible;
}
